/* Project styling */

#projects {
  display: flex;
  flex-direction: column;
  margin: 12rem 4rem;
  justify-content: center;
  align-items: center;
}

.project-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 18rem;
}

.heading {
  font-size: clamp(4rem, 12vw, 12rem);
  font-weight: bold;
  padding: 0;
  margin: 0;
  background: linear-gradient(
    to bottom,
    var(--text-color),
    grey,
    var(--bg-color),
    var(--bg-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-shadow: #222222;
  user-select: none;
  text-align: center;
  letter-spacing: clamp(1px, 1vw, 4px);
}

#projects p {
  position: absolute;
  top: 60%;
  font-size: clamp(0.4rem, 2vw, 1.2rem);
  font-weight: normal;
  user-select: none;
  z-index: 1;
}

/* Showcase styling */

.showcase {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 20px;
  max-width: 100%;
}

.project-img {
  min-width: clamp(20rem, 50vw, 28rem);
  height: clamp(10rem, 25vw, 15rem);
  box-shadow: -1px 1px 0 #222, -2px 2px 0 #222, -3px 3px 0 #222, -4px 4px 0 #222,
    -5px 5px 0 #222, -6px 6px 0 #222, -7px 7px 0 #222, -8px 8px 0 #222,
    -9px 9px 0 #222;
  transition: all 0.3s ease;
}

.project-img:hover {
  transform: translateY(-10px);
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
  clip-path: inset(0 round 0 20px 0 0);
  transition: all 0.3s ease;
}

.project-img:hover img {
  filter: blur(0);
  clip-path: inset(0 round 0 20px 0 0);
}

.container h4 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

#projects a {
  text-decoration: none;
  color: var(--text-color);
}


.upcoming {
  user-select: none;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
  background: linear-gradient(
    to right,
    var(--text-color),
    var(--bg-color),
    var(--bg-color)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: var(--text-color);
}

@media screen and (max-width: 576px) {
  #projects p {
    display: none;
  }
}