/* Home Styling */

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 8vw;
  height: 100vh;
}

#visual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}

.blob1 {
  position: absolute;
  top: 0;
  left: 0;
  animation: floatUp 8s ease-in-out infinite;
  fill: var(--text-color);
}

.blob2 {
  position: absolute;
  bottom: 0;
  right: 0;
  animation: floatDown 8s ease-in-out infinite;
  fill: var(--text-color);
}

@keyframes floatUp {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-10px, -15px) scale(1);
  }
}

@keyframes floatDown {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(10px, 15px) scale(1);
  }
}

#isometric {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: clamp(2rem, 4vw, 4rem);
  line-height: 1.2em;
  letter-spacing: 2px;
  text-align: center;
  user-select: none;
  color: var(--text-color-white);
  margin: 0 18rem;
  padding-bottom: 2rem;
  text-shadow: -1px 1px 0 #222, -2px 2px 0 #222, -3px 3px 0 #222,
    -4px 4px 0 #222, -5px 5px 0 #222, -6px 6px 0 #222, -7px 7px 0 #222,
    -8px 8px 0 #222, -9px 9px 0 #222;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 1.2em;
  text-align: center;
  user-select: none;
  color: var(--text-color);
  margin: 0 18rem;
}

@media screen and (max-width: 768px) {
  .description {
    margin: 0.2rem 8rem;
  }
}

@media screen and (max-width: 576px) {
  .description {
    margin: 0.2rem 4rem;
  }
}
