:root {
  --bg-color: #edecea;
  --text-color: #222222;
  --text-color-white: #fff;
  --element-bg-color: rgba(237, 237, 237, 0.8);
  --slider-color: rgba(255, 255, 255, 0.479);
  --highlighted-color: #fff;
  --border-color: #c7c5c0;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  --highlighted-color: #edecea;
}

.darkmode {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --text-color-white: #e0e0e0;
  --element-bg-color: rgba(28, 28, 28, 0.8);
  --slider-color: rgba(0, 0, 0, 0.295);
  --highlighted-color: rgb(52, 52, 52);
  --border-color: #555;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
  --highlighted-color: #181818;
}

/* UTILITY CLASSES */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar Styling */

html::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.801);
  border-radius: 10px;
}

html::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--text-color);
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: bold;
}

h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* Media Queries */

@media screen and (max-width: 576px) {

  header {
    padding: 1rem;
  }

  header nav ul li a {
    font-size: 0.8rem;
    padding: 5px 10px;
  }

  header nav ul {
    margin: 0;
  }

  #projects p {
    display: none;
  }

  .description {
    margin: 0.2rem 4rem;
  }

  .contact-button {
    display: none;
  }

}

@media screen and (max-width: 768px) {

  .project-img {
    min-width: 18rem;
    height: 10rem;
  }

  .soon img {
    min-width: 18rem;
    height: 10rem;
  }

  .description {
    margin: 0.2rem 8rem;
  }

  footer p {
    color: transparent;
  }

  .contact-section {
    gap: 1rem;
  }

}